/.phpunit.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
addDnsRecord_gmailIssue.txt
composableIssues.txt
.env_DEV
.env.example
.env_SOMEKEYS.txt
InitialUsers.sql
isDarkMode.txt
prefersReducedMotion.txt
PropagaçãoDNS.txt
TestesDeMedidasEmPixels.txt
toInstall.txt
TransportException.txt
README_LARAVEL.md
/app/Console/Commands/emailSecret.php
/app/Console/Commands/hashEquals.php
/app/Console/Commands/helloWorld.php
/app/Console/Commands/languageFiles.php
/app/Mailfiles
/app/Http/Controllers/Auth/*_LARAVEL.php
/app/Http/Requests/placeholder.txt
/app/Providers/AuthServiceProvider_FIRST.php
/app/Providers/AuthServiceProvider_ZERO.php
/app/UserClasses/Paginator.php
/app/UserClasses/*_SENHA.php
/app/UserClasses/Misc_TEST.php
/database/factories
/database/migrations2
/database/seeders/ToDoList.txt
/database/seeders/UserSeeder_DEV.php
/lang0
/OLD
/public/audio0
/public/fonts
/public/images/favicon
/public/images/locale
/public/images/others
/resources0
/resources/js/Components/LaravelUnused
/resources/js/Components/NavigationBar/*_OLD.vue
/resources/js/Components/OthersByMe
/resources/js/Components/SVG/BoltSolid.vue
/resources/js/Components/Useless
/resources/js/ComposablesOthers
/resources/js/Layouts/*_OLD.vue
/resources/js/Layouts/*_OLD1.vue
/resources/js/Layouts/*_OLD2.vue
/resources/js/Layouts/*_OLD3.vue
/resources/js/Layouts/*_OLD4.vue
/resources/js/Pages/Game/MainPage_below.txt
/resources/js/Pages/Others
/resources/js/Pages/Profile
/resources/js/Pages/Useless
/resources/js/Plugins/messagePlugin/index_OLD.js
/resources/js/Plugins/useless
/resources/views/welcome.blade.php
/routes/auth.php
/routes/webtests.php
/app/Http/Controllers/Public
/resources/js/Pages/Public
